@import "../main/main";

.Hero {
    min-height: 100vh;
    background-color: $blackish;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yellow-text {
    color: $egg-yellow;
}

.icon {
    color: $egg-yellow;
}

i:hover {
    color: $medium-grey;
}

