@import "../main/main";

/* nav bar */
.navbar {
	background-color: $blackish;
}

.navbar li {
    cursor: pointer;
}

.navbar a:hover {
    color: $egg-yellow;
    text-decoration: underline;
}