@import "../main/main";

.Project {
    min-height: 100vh;
    background-color: $blackish;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-black {
    background-color: $blackish;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-yellow {
    background-color: $egg-yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-outline-warning {
    color: $egg-yellow !important;
    border: 1px solid $egg-yellow !important;
}

.btn-outline-warning:hover {
    background-color: $egg-yellow !important;;
    color: $blackish !important;
}

.btn-outline-dark {
    color: $blackish !important;
    border: 1px solid $blackish !important;
}

.btn-outline-dark:hover {
    background-color: $blackish !important;;
    color: $egg-yellow !important;
}